#LinkedInPic {
  border-radius: 50%;
  width: 15vw;
}

.skills {
  object-fit: contain;
  display: inline-block;
  font-size: 1.35em;
  height: calc(3em + 2px);
  line-height: 3em;
  text-align: center;
  width: calc(3em + 2px);
}

.vba {
  font-size: 1.7em;
}